@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/*
1. Navigation styles
*/
.navbar {
    width: 100%;
    background-color: purple;
}

nav>span {
    color: white !important;
}

/*
2. Aside styles
*/
.newProductForm {
    margin-top: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.newProductForm>button {
    width: 100%;
    border-radius: 2em;
}

.newProductForm>.row {
    margin-bottom: 1em;
}

hr {
    position: absolute;
    left: 5;
    width: 10%;
    background-color: #D500F9;
}

/*
3. Main csontent styles
*/
.container-fluid {
    min-height: 100vh;
}

/*
4. Footer
*/
.footer {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    margin-top: 1em;
}

/*
Animations
*/
@keyframes full-circle-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}